@{
  ViewData["Title"] = "Forgot Password";
}

<div class="row">
  <div class="col-md-4 mx-auto">
    <h2>Forgot Password</h2>
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <form asp-controller="User" asp-action="ForgotPassword">
      <div class="form-group mb-3">
        <label for="username">UserName</label>
        <input name="username" class="form-control" />
      </div>
      <div>
        <a asp-controller="User" asp-action="Index" class="btn btn-link float-start">Back</a>
        <button type="submit" class="btn btn-outline-primary float-end">Submit</button>
      </div>
    </form>
  </div>